*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none ;
}
ul{
    list-style: none;
}
.home{
    width: 100%;
    display: contents;
}
.toubu{
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: #111418;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(TOUXIANG.jpg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50% 85%;
}
.toubu2{
    width: 100%;
    height: 800px;
    background-color: #222831;
}
.buy{
    width: 800px;
    height: 120px;
    padding: 2% 0 0 33%;

}
.video{
    width: 1500px;
    height: 500px;
    margin: auto;
    
}
.dibu{
    width: 100%;
    height: 50px;
    background-color: #111418;
}
